<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
	<title>Puchase Order Dakdok.id</title>
</head>
<body>



	<style type="text/css">
		table tr td,
		table tr th{
			font-size: 9pt;
		}
		h5{
			text-decoration: underline;
			font-weight: bold;
		}
		td{
			    vertical-align: top;
		}
	</style>
	<center>
		<h5>PURCHASE ORDER</h5>
	</center>
 	<table class='table' border="0" style="border-bottom: none;">
 		<thead>
 			<tr style="border-style: hidden;">
 				<td width="20%"></td>
 				<td width="25%"></td>
 				<td width="10%"></td>
 				<td width="20%">
 					Tanggal Order layanan
 				</td>
 				<td width="25%">
 					: 15/7/2021
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="20%">Nama Customer</td>
 				<td width="25%">: <b>Muhaiminsyah</b></td>
 				<td width="10%"></td>
 				<td width="20%">
 					Waktu Order
 				</td>
 				<td width="25%">
 					: 08.00 s.d 18.55
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="20%">Alamat Customer</td>
 				<td width="25%">: Perum Griya Cemoro Blok C4, Sukolilo, Tuban Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet earum delectus consequatur odit sint sequi quasi alias ratione veritatis ipsam maxime voluptate error id, omnis illum quo animi ipsum debitis officiis, porro cupiditate vel, quibusdam aspernatur! Ea numquam distinctio incidunt nisi quo odit dolorum labore suscipit laboriosam, obcaecati, officia sint?</td>
 				<td width="10%"></td>
 				<td width="20%">
 					Lokasi Pekerjaan
 				</td>
 				<td width="25%">
 					: Sukolilo
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="20%">No. HP / Whatsapp</td>
 				<td width="25%">: 088996825018</td>
 				<td width="10%"></td>
 				<td width="20%">
 					Kontak Penerima Layanan
 				</td>
 				<td width="25%">
 					: 088996825018
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="20%">Jenis Order Layanan</td>
 				<td width="25%">: Jasa Tukang Kayu</td>
 				<td width="10%"></td>
 				<td width="20%">
 					
 				</td>
 				<td width="25%">
 					
 				</td>
 			</tr>
 		</thead>
 	</table>
 	<table class='table' border="0" style="border-bottom: none;">
 		<thead>
 			<tr style="border-style: hidden;">
 				<td width="100%"><b>Judul Pekerjaan</b></td>
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="100%">Pembenahan Plafon Rumah dan atap bocor <br></td>
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td></td>
 			</tr>

 			<tr style="border-style: hidden;">
 				<td width="100%"><b>Deskripsi Pekerjaan</b></td>
 				</td>
 			</tr>
 			<tr style="border-style: hidden;">
 				<td width="100%">Atap rumah bocor sehingga kalau hujan anginya masuk ,asuk kerumah. plafon ambrol, yang saat ini menggunkan kerangka gavalum</td>
 				</td>
 			</tr>
 		</thead>
 	</table>
 	<style type="text/css">
 		td .td_data,th .th_data{
 			border: 1px solid #000
 		}
 	</style>
	<table style="border: 1px solid #000">
		<thead>
			<tr style="text-align: center;">
				<th class="th_data">No</th>
				<th class="th_data" width="40%">Detail Pekerjaan</th>
				<th class="th_data" width="15%">Luas / Ukuran Objek yang dikerjakan</th>
				<th class="th_data" width="35%">Keterangan</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td class="td_data">1</td>
				<td class="td_data">Membetulkan atap bocor</td>
				<td class="td_data">3 Meter</td>
				<td class="td_data">Kemungkinan genteng bocor atau geser</td>
			</tr>
			<tr>
				<td class="td_data">1</td>
				<td class="td_data">Membetulkan atap bocor</td>
				<td class="td_data">3 Meter</td>
				<td class="td_data">Kemungkinan genteng bocor atau geser</td>
			</tr>
			<tr style="height: 40px;">
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
			</tr>
			<tr style="height: 40px;">
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
			</tr>
			<tr style="height: 40px;">
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
				<td class="td_data"></td>
			</tr>
		</tbody>
	</table>

	<div style="font-size: 12px">
	<p>Catatan</p>
	<div style="margin-left: 25px;">
		<p>1. akan dilakukan setelah surveyor melakukan survey di lokasi pekerjaan dan disepakati biaya pekerjaan sesuai tarif yang berlaku</p>
		<p>2. Customer melakukan pembayaran biaya survey sebesar Rp 15.000,- untuk area Tuban (kota) dan Rp. 20.000,- di luar Tuban (kota), dengan metode transfer atau dibayarkan langsung saat surveyor datang ke lokasi.</p>
	</div>
		
	</div>
	<div class="container-fluid">
		<div class="row ">
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col"></div>
			<div class="col" style="text-align: right;">
				<p><b>Tuban, 2021</b></p>
				<p>Hormat Kami, </p>
				<br>
				<br>
				<p>({{$nama_customer}})</p>
			</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>	
</body>
</html>